<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File Managment System</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <h1>Create a New File</h1>
    <form action="/files/" method="POST"></form>
    <div class="detailsContainer">
      <p class="fileContent"><%= fileContent%></p>
    </div>
  </body>
  <script src="/scripts.js"></script>
</html>
