<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File Managment System</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <p><span>File name:</span> <%= fileName%></p>
    <p></span>File content:</span> <%= fileContent%></p>
  </body>
  <script src="/scripts.js"></script>
</html>
