<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File Managment System</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <header>
      <h1>Files in the "data" Directory</h1>
    </header>
    <main>
      <% if( files.length === 0) { %>
      <p class="error">
        Sorry , we can not show files because "data" directory is empty
      </p>
      <% } else { %> <% for(let file of files) { %>
      <div class="flex-item">
        <a href="/files/<%= file%>"><%= file%></a>
      </div>
      <% } } %>
    </main>
  </body>
</html>
