body {
  margin: 0;
  padding: 0;
}
header,
main,
.detailsContainer,
.title,
form {
  margin-left: 50px;
}
header,
.detailsContainer,
.title {
  margin-top: 40px;
  font-size: 30px;
}
main,
form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.flex-item {
  border-left: 5px solid rgb(180, 5, 5);
  font-size: 30px;
  padding-left: 10px;
}
a,
a:visited,
a:active {
  text-decoration: none;
  color: black;
}
a:hover {
  color: rgb(24, 24, 161);
}
.error {
  color: red;
  font-size: 30px;
}
#textarea {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
form {
  font-size: 20px;
  width: 20%;
}
textarea {
  height: 200px;
}
button {
  height: 50px;
  font-size: 20px;
}
